﻿@{
    ViewBag.Title = "Books";
}

<table id="books" data-bind="visible: Books().length > 0" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Release date</th>
            <th data-bind="ifnot: IsAdmin()">Reserve</th>
            <th data-bind="if: IsAdmin()">Edit</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Books()">
        <tr>
            <td data-bind="text: Name()"></td>
            <td data-bind="text: Author()"></td>
            <td data-bind="text: ReleaseString()"></td>
            <td data-bind="ifnot: $root.IsAdmin()">
                <div data-bind="ifnot: IsBooked"><button data-bind="click: $root.reserve">Reserve</button></div>
                <p data-bind="if: IsBooked" class="text-danger">Reserved</p>
            </td>
            <td data-bind="if: $root.IsAdmin()">
                <button data-bind="click: $root.edit">Edit</button>
                <div data-bind="ifnot: IsBooked"><button data-bind="click: $root.delete">Delete</button></div> 
            </td>
        </tr>
    </tbody>
</table>

<div data-bind="visible: IsAdmin(), with: SelectedBook">
    <div data-bind="visible: Id == null">
        <h2>Add New Book</h2>
    </div>
    <div data-bind="visible: Id">
        <h2>Edit Book</h2>
    </div>
    <div>
        <label for="Name">Name</label>
        <input data-bind="value: Name" type="text" title="Name" class="form-control" />
    </div>
    <div>
        <label for="Author">Author</label>
        <input data-bind="value: Author" type="text" title="Author" class="form-control" />
    </div>
    <div>
        <label for="Description">Description</label>
        <textarea data-bind="value: Description" type="text" title="Description" class="form-control"></textarea>
    </div>
    <div>
        <label for="Release">Release date</label>
        <input data-bind="value: Release" type="date" title="Release" />
    </div>
    <br />
    <div data-bind="visible: Id == null">
        <button data-bind="click: $root.create" class="btn btn-primary">Save</button>
    </div>
    <div data-bind="visible: Id">
        <button data-bind="click: $root.update" class="btn btn-primary">Update</button>
    </div>
    <button data-bind="click: $root.cancel" class="btn btn-warning">Cancel</button>
</div>
<div data-bind="ifnot: IsAdmin">
    <account-info></account-info>
</div>
<template id='account-info-template'>
    <div>
        <table data-bind="visible: Books().length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Books()">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: From"></td>
                    <td data-bind="text: To"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script src="~/ViewModels/Account/account-info.js"></script>
<script src="~/ViewModels/Book/Index.js"></script>
